#frame > * {
  -webkit-transition: linear left 0.5s, linear top 0.5s, linear transform 0.5s;
  transition: linear left 0.5s, linear top 0.5s, linear transform 0.5s;
  font-size: 30px;
}

h {
  font-family: Britannic Bold;


}

table, th, td {
    border: 1px solid black;
}
