body {
  font-family: 'Titan One';
}

#frame > * {

}

#data > * {
  font-size: 20px;
  font-family: monospace;
  margin: 30px;
  padding: 30px;
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-align: left;
  text-overflow: clip;
}


/*table, th, td {
    border: 1px solid black;
}*/



#login {
  position:absolute;
  top:50px;
  left:50%;
  transform:translate(-50%,0);
  border-radius:15px;
  margin:15px;
  padding:15px;
  background-color: rgb(68,68,68);
  border-width: 6px;
  border-color: #000;
  border-style: solid;
}

#title {
  font-size: 50px;
}
#username:focus{
  font-size:20px;
  border:3px solid #555;

}
#username{
  font-family: 'Titan One';
  font-size: 15px;
  width:200px;
  height:25px;
  border:3px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
