body {
  font-family: 'Titan One';
}

hr {
  height:3px;
  color:#000;
  border-style:solid;
  border-width:2px;
  border-radius:2px;
}

#data {
  font-size: 22px;
  font-family: "Arial";
}

#data br {
  text-indent: 5em;
}

#content canvas {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #fff, #eee); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #fff, #eee); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #fff, #eee); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #fff, #eee); /* Standard syntax */
}

#login {
  position:absolute;
  top:50px;
  left:50%;
  transform:translate(-50%,0);
  border-radius:15px;
  margin:0px;
  padding:10px;
  background-color: rgb(102,102,102);
  border-width: 6px;
  border-color: #000;
  border-style: solid;
}

#title {
  font-size: 40px;
}
#username:focus{
  font-size:20px;
  border:3px solid #555;

}
#username{
  font-family: 'Titan One';
  font-weight: lighter;
  font-size: 15px;
  width:150px;
  height:20px;
  border:3px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
